<h1>Basic Template for Now</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Burger Name: {{this.burger_name}}</p>
        <p>Devoured: {{this.devoured}}</p>
    </li>
    {{/each}}
</ul>




